[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "test"
script = "script"
solc_version = "0.8.21"
auto_detect_solc = false
optimizer = true
optimizer_runs = 200

remappings = [
  "forge-std/=lib/forge-std/src/"
]
