[book]
title = "Social Recovery SDK"
authors = ["Rasul Ibragimov"]
language = "en"
multilingual = false
src = "src"

[build]
build-dir = "book"

[output.html]
default-theme = "light"
preferred-dark-theme = "navy"
smart-punctuation = true
